<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html b:css="false" b:js="true" {{attr root}}>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><data:view.title.escaped></title>
    <b:include data='blog' name='all-head-content'/>
    <b:include name='uniform:head'/>
    {{!-- Skin content --}}
    {{> skin}}
    {{!-- Default markups content --}}
    {{> defaultmarkups}}
</head>
<body>
    
</body>
</html>